{% extends 'main.html' %}
{% load static %}
{% block content %}



<div class="container-fluid px-0">
    <img src="{% static 'images/contact2.jpg' %}" width="200" height = "600" class="d-block w-100" alt="...">
</div>
<div class="container">
  <h1 class="text-center my-3"> Contact Us</h1>
  <form method="post" action="/contact">
  {% csrf_token %}
  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" class="form-control" id="name" name="name" placeholder="Enter your Name">
  </div>

  <div class="form-group">
    <label for="email">Email address</label>
    <input type="email" class="form-control" id="email" name="email" placeholder="Enter your Email">
  </div>

  <div class="form-group">
    <label for="phone">Phone number</label>
    <input type="phone" class="form-control" id="phone" name="phone"  placeholder="Enter your phone number">
  </div>

  <div class="form-group">
    <label for="Issue">Write your message</label>
    <textarea class="form-control" id="issue" rows="3" name="issue"></textarea>
  </div>
  <button class="btn btn-primary" type="submit"> Submit </button>
</form>
</div>
{% endblock %}