{% extends 'main.html' %}

{% block content %}

<div class="row">
<div class="col-md-3 ">
		<h5>SLOT 1:</h5>
		<hr>
		<div class="card card-body">
			<a class="btn btn-primary  btn-sm btn-block" href=" ">Opener</a>
			<table class="table table-sm">
				<tr>

					<th>Player</th>
					<th>View</th>
					<th></th>
				</tr>
				{% for i in team1 %}
					<tr>
						<td>{{i.name}}</td>
						<td><a class="btn btn-sm btn-info" href="">View</a></td>
					</tr>
				{% endfor %}
			</table>
		</div>
</div>

    <div class="col-md-3 ">
		<h5>SLOT 2:</h5>
		<hr>
		<div class="card card-body">
			<a class="btn btn-primary  btn-sm btn-block" href="{% url 'home' %} ">Opener</a>
			<table class="table table-sm">
				<tr>

					<th>Player</th>
					<th>View</th>
					<th></th>

				</tr>
				{% for i in team2 %}
					<tr>
						<td>{{i.name}}</td>
						<td><a class="btn btn-sm btn-info" href="">View</a></td>
					</tr>
				{% endfor %}
			</table>
		</div>
</div>

    <div class="col-md-3 ">
		<h5>SLOT 3:</h5>
		<hr>
		<div class="card card-body">
			<a class="btn btn-primary  btn-sm btn-block" href="{% url 'home' %} ">Number 3</a>
			<table class="table table-sm">
				<tr>

					<th>Player</th>
					<th>View</th>
					<th></th>

				</tr>
				{% for i in team3 %}
					<tr>
						<td>{{i.name}}</td>
						<td><a class="btn btn-sm btn-info" href="">View</a></td>
					</tr>
				{% endfor %}
			</table>
		</div>
</div>

    <div class="col-md-3 ">
		<h5>SLOT 4:</h5>
		<hr>
		<div class="card card-body">
			<a class="btn btn-primary  btn-sm btn-block" href="{% url 'home' %} ">Number 4</a>
			<table class="table table-sm">
				<tr>

					<th>Player</th>
					<th>View</th>
					<th></th>

				</tr>
				{% for i in team4 %}
					<tr>
						<td>{{i.name}}</td>
						<td><a class="btn btn-sm btn-info" href="">View</a></td>
					</tr>
				{% endfor %}

			</table>
		</div>
</div>


</div>

{% endblock %}